.about {
    margin-top: 110px;
    margin-bottom: 180px;
  
    .about-header h1 {
      margin-bottom: 2px;
    }
    .about-header .border-bottom {
      width: 97px;
      height: 2px;
      background-color: #000;
      margin-bottom: 16px;
    }
    .about-client-quotes {
      margin-top: 107px;
    }
    .about-client-quotes .client-box {
      max-width: 722px;
      display: flex;
      position: relative;
      margin-bottom: 37px;
    }

    .client-quote-title{
      border-bottom: 2px solid black;
      width: 90 px;
    }

    .about-client-quotes .client-box .client-image {
      width: 260px;
      height: 150px;
      overflow: hidden;
      margin-right: 21px;
    }
    .about-client-quotes .client-box .client-image img {
      width: 100%;
    }
    .about-client-quotes .client-box .client-quote {
      max-width: 440px;
      margin-bottom: 20px;
    }
    .about-client-quotes .client-box .client-name {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $site-blue;
    }
}