@font-face {
    font-family: GillSansReg;
    src: url(fonts/GillSans.ttf);
  }
  @font-face {
    font-family: ProximaNovaCond;
    src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
  }
  @font-face {
    font-family: GillSansLight;
    src: url(fonts/GillSans-Light.ttf);
  }