//site structure var
$site-width: 1280px;
$hero-height: 500px;
$site-nav-width: 980px;
$site-nav-height: 90px;


//site colors
$site-white: #fff;
$site-blue: #79ADDC;
$site-black: #000;



//tour banners
$tour-banner-height: 304px;
$tour-banner-width: 236px;


$button-padding: 10px 20px;
